@using StoreASP.Models.FormModel
@model ProductForm
@{
    ViewData["Title"] = "Products";
}


<div class="absolute top-20 left-20 bg-prime">
    <form enctype="multipart/form-data" asp-controller="Product" asp-action="Update" method="post"
        class="w-80 flex flex-col items-start justify-center">
        <div asp-validation-summary="All" class="text-red-500 text-xs"></div>

        <label asp-for="Name" class="text-sm font-bold"></label>
        <input asp-for="Name" class="w-full text-prime font-semibold text-sm px-2 py-2 my-3" value="@Model.Name">

        <label asp-for="Description" class="text-sm font-bold"></label>
        <textarea asp-for="Description"
            class="w-full text-prime font-semibold text-sm px-2 py-2 my-3">@Model.Description</textarea>

        <label asp-for="Price" class="text-sm font-bold"></label>
        <input asp-for="Price" type="number" class="w-full text-prime font-semibold text-sm px-2 py-2 my-3"
            value="@Model.Price">

        <label asp-for="Discount" class="text-sm font-bold" id="range-label"></label>
        <input asp-for="Discount" type="range" step="0.01" min="0" max="1" value="@Model.Discount"
            class="w-full text-prime font-semibold text-sm px-2 py-2 my-3" id="range">

        <label for="Image" class="text-sm font-bold">Image</label>
        <input type="file" name="Image" accept="image/*|MIME_type" class="my-3 px-2 py-2 w-full bg-second text-prime">
        <input type="text" hidden value="@Model.Id" name="Id">

        <input type="submit" class="my-3 px-2 py-3 bg-second text-prime font-sm font-bold w-full" value="Update">

    </form>
</div>