@using StoreASP.Models


@{
    ViewData["Title"] = "Site Settings";
}

<div>
    <div class="body absolute top-16 left-16">
        <p>@ViewBag.Error</p>
        <h1 class="my-5 ml-5 text-xl font-bold text-second">Site Settings</h1>
        <div class="ml-5 w-80 flex flex-row items-center justify-start">
            @if (Model != null)
            {
                <a class="px-2 py-2 font-bold text-sm bg-second text-prime flex flex-row items-center justify-center mr-2">
                    Edit Information <i data-feather="edit" class="ml-2"></i>
                </a>
                <a class="px-2 py-2 font-bold text-sm bg-second text-prime flex flex-row items-center justify-center mr-2">
                    Delete Information <i data-feather="x" class="ml-2"></i>
                </a>
            }
            else
            {
                <a class="cursor-pointer px-2 py-2 font-bold text-sm bg-second text-prime flex flex-row items-center justify-center mr-2"
                asp-action="Create" asp-controller="SiteSettings">
                    Add Information <i data-feather="plus" class="ml-2"></i>
                </a>
            }
        </div>
        @if (Model != null)
        {
            <div class="ml-5 my-10 w-80 flex flex-col items-center justify-center">
                <img src="@Model.Logo" alt="@Model.StoreName" class="rounded w-full shadow-lg">
                <h1 class="font-xl fotnt-bold text-center text-second my-5">@Model.StoreName</h1>
                <p class="text-sm font-semibold">@Model.Description</p>
            </div>
        }
    </div>
</div>